@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-scrollbar::-webkit-scrollbar { width: 8px; }
.custom-scrollbar::-webkit-scrollbar-track { background: #f1f1f1; border-radius: 4px; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #D4B87A; border-radius: 4px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #C5A35E; }